<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
        <title>News article analysis</title>
    </head>

    <body>

        <header>
            <div>
                <h2>News Sentiment Analysis</h2>
                <h3>Evaluate news article with Meaning Cloud</h5>
            </div>
        </header>

        <main>
            <section>
                <form id="frm">
                    <label for="url">Enter a URL here:</label>
                    <input id="url" type="text" name="url" placeholder="http://wwww.example.com">
                    <div id="errorMsg"></div>
                    <button id="submit" type="button" name="" value="submit"
                    onclick="return Client.handleSubmit(event)">Analyse</button>
                </form>
            </section>

            <section class="results">
                <h2>Evaluation Results</h2>
                <div id="loader"></div>
                <div id="results">
                    <div id="model"></div>
                    <div id="score_tag"></div>
                    <div id="agreement"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                </div>
            </section>
        </main>
        <footer>
            <p><a href="https://github.com/evawf/Evaluate-A-news-article-w-NLP">&copy GITHUB-EW</a></p> 
        </footer>
    </body>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
            })
        }
    </script>
</html>