<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
        <title>Travel Planner</title>
    </head>

    <body>

        <header>
            <div>
                <h2>Where do you want to go?</h2>
            </div>
        </header>

        <main>
            <section>
                <form id="form">
                    <label for="title">Destination</label>
                    <input id="destination" type="text" name="destination" placeholder="Destination" required>
                    <span class="validity"></span>
                    <label for="date">Depature Date</label>
                    <input id="departureDate" type="date" name="departure_date" required>
                    <span class="validity"></span>
                    <button id="submit" type="button" name="" value="submit"
                    onclick="return Client.handleSubmit(event)">Let's GO!!!</button>
                    <div id="errorMsg"></div>
                </form>
            </section>

            <section class="nextTrip">
                <div id="destinationWeather">
                    <div id="locationName"></div>
                    <div id="temp"></div>
                    <div id="weather"></div>
                </div>
                <div id="destinationImage">
                    <img id="image" src="" alt="">
                </div>
            </section>

            <section class="futureTrip">
                <h2>Incoming Trip</h2>
                <div class="card">

                </div>
            </section>

            <section class="pastTrip">
                <h2>Past Trip</h2>
                <div class="card">

                </div>
            </section>
        </main>
        <footer>
            <p><a href="https://github.com/evawf/Evaluate-A-news-article-w-NLP">&copy GITHUB-EW</a></p> 
        </footer>
    </body>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
            })
        }
    </script>
</html>