body {
    display: flex;
    flex-direction: column;
    min-height: 99vh;
    margin: 10px 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    font-family: 'Abril Fatface';
    background: no-repeat  center url('https://images.unsplash.com/photo-1611538860517-c054ed51c924?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');
    background-size: cover;
}

main {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    margin: 30px auto;
    text-align: center;
}

#showTrips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1A385A;

    div, button {
        margin: 10px 0;
    }

    button {
        color: #1A385A;
        font-size: xx-large;
        background-color: #DCD5DC;
        border: none;
    }

    .tripCard {
        // margin: 10px 0;
        padding: 20px 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 720px;
        font-size: xx-large;
        background-color: #dcd5dc;

        border-radius: 15px;

        .showForecast {
            flex-direction: column;
        
            &.collapsed .forecast_div{
                display: none;
            }

            .weather_btn::after{
                content: " -";
            }
            &.collapsed .weather_btn::after{
                content: " +";
            }

            .weather_btn {
                border-bottom: 1px solid gray;
                font-size: x-large;
                font-family: Abril Fatface;
                width: 50%;
            }

            .weather_btn:hover {
                color: #E46F44;
            }
        }

        .deleteTrip {
            font-size: x-large;
        }

        .deleteTrip:hover {
            color: #E46F44;
        }
    }

    .tripCard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
}

.forecast_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div {
        font-family: Arial;
        font-size: medium;
        margin: 0 20px;
        width: 130px;
        align-items: center;
    }

    img {
        width: 30px;
        height: 30px;
        margin: 0 20px;
    }
}

.showImage {
    width: 100%;
    text-align: center;

    a {
        width: 100%;
        padding: 0 150px;
        transition: 0.6s ease-in-out;        
    }

    a:hover {
        color: #E46F44;
    }

    .image_div {
        width: 100%;

        img {
            object-fit: cover;
            width: 480px;
            height: 350px;
            border-radius: 10px;
        }
    }
}

#deleteTrips {
    border: 0px solid #1A385A;
    height: 90px;
    width: 720px;
    margin: 50px 20px;
    text-align: center;
    border-radius: 50px;
    font-size: xx-large;
    font-family: 'Abril Fatface';
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color:#1A385A;
    display: none;
}

#deleteTrips:hover {
    background-color: #E46F44;
}

#loader {
    width: 150px;
    height: 150px;
    background: url('https://acegif.com/wp-content/uploads/loading-25.gif') no-repeat center;
    background-size: contain;
    z-index: 1;
    padding-left: 100%;
    display: none;
    transition: opacity 2s ease-in-out;
}

@media only screen and (min-width: 768px) {
    #showTrips {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .tripCard {
            margin: 20px 20px;
        }
    }
}