@import '~js-datepicker/src/datepicker';

form {
    text-align: center;
    font-size: x-large;

    #input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input, #submit {
            border: 1px solid #1A385A;
            height: 90px;
            width: 720px;
            margin: 20px 20px;
            text-align: center;
            border-radius: 50px;
            font-size: x-large;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            color:#1A385A;
            background-color: white;
        }

        input:valid {
            border: 5px solid green;
        }

        #submit:hover {
            color: #E46F44;
        }

        // [type="date"] {
        //     background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
        // }
        // [type="date"]::-webkit-inner-spin-button {
        //     display: none;
        // }
        // [type="date"]::-webkit-calendar-picker-indicator {
        //     opacity: 0;
        // }
    }
}

@media only screen and (min-width: 768px) {
    form {
        #input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            input, #submit {
                max-width: 720px;
            }
        }
    }
}