form {
    margin: 0px 30px;
    text-align: center;
    font-size: xx-large;

    label {
        color: rgb(12, 11, 11);
    }

    #input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input, #submit {
        border: 0px solid #1A385A;
        height: 80px;
        width: 100%;
        margin: 20px 20px;
        text-align: center;
        border-radius: 40px;
        font-size: xx-large;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        color:#1A385A;
        background: rgba(128, 128, 128, 0.075);
    }

    #submit {
        background-color: #e8aa9b7e;
        text-align: center;
    }

    #submit:hover {
        background-color: #E46F44;
    }

    span::after {
        padding-left: 2px;
    }

    // input:invalid {
    //     border: 5px solid red;
    // }

    input:valid {
        border: 5px solid green;
    }

    button:hover {
        background-color: #c06014;
        color: #fff;
    }
}

