header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px 10px;
    width: 100%;
    font-family: 'Abril Fatface';
    color: #1A385A;

    h2 {
        font-size: 50px;
    }
}