header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    font-family: 'Abril Fatface';
    color: #1A385A;
    background: no-repeat center 60% url('https://images.unsplash.com/photo-1431660370894-11a187f8cf92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1353&q=80');

    h2 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 768px) {
    header {
    height: 280px;
    background: no-repeat center 60% url('https://images.unsplash.com/photo-1431660370894-11a187f8cf92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1353&q=80');
    background-size: cover;    
    }
}